@import "grid.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Markazi Text', serif;

}


.main-section {
    z-index: 22222;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('../images/earth.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
    
}

.question {
    width: 100%;
    margin: 10px 0;
    text-align: center;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: none;
    background-size: contain;
    background-repeat: no-repeat;
    .flag {
        width: 200px;
        height: 200px;
    }
    p {
        display: inline-block;
        text-align: center;
        margin: auto;
        color: white;
        font-size: 30px;
    }
}

.answers {
    width: 100%;
    height: 50px;
    margin: 10px 0;
    display: flex;
    justify-content: space-around;
}

.answer {
    width: 20%;
    height: 100%;
    border: 1px solid black;
    text-align: center;
    background:rgb(216,242,241);
    cursor: pointer;
    margin: auto;
}


.answer:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}
.play {
    width: 500px;
    height: 100px;
    background: orangered;
    border: 1px solid black;
    color: white;
    font-size: 50px;
    font-weight: 900;
    cursor: pointer;
    outline: none;

};
.play:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}
  
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

.checkAnswer {
    border: 1px solid black;
    padding: 20px;
    line-height: 2;
    background: rgb(72,74,102);
    margin: 30px;
    color: white;
    font-size: 15px;
    li {
        list-style: none;
    }
}
.counter {
    margin: 20px;
    color: white;
    font-size: 35px;
}

.hidden {
    display: none;
}
